@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  background: #f8f9fa; /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #f8f9fa, #495057);
  background: -moz-linear-gradient(left, #f8f9fa, #495057);
  background: -o-linear-gradient(left, #f8f9fa, #495057);
  background: linear-gradient(to left, #f8f9fa, #495057);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
@media (min-width: 768px){
.login-page {
  padding-top: 3%;
    margin-top: 3%;
}
.register-page {
 
    margin-top: 3%;
} 
.form {
margin: auto auto 7%; 
     padding: 1rem 0 1rem 0;}
}
.form {
  position: relative;
  z-index: 1;
  background: white;
  max-width: 360px;
 
 
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  /*width: 100%;
  border: 0;*/
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: linear-gradient(to left, #f8f9fa, #495057);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;/* faire apparaitre la main au lieu de la souris*/
  margin: 0.5rem 0 0.5rem 0;
}
.form button:hover,.form button:focus {
  background: #495057;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 20px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
 /* display:none;*/
}

/*style du footer*/
html {
  position: relative;
  min-height: 100%;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  background: linear-gradient(to left,#211837,#111111);
  border-top: 3px solid #ff9900;
  clear: both;
  padding:1.5rem;
  color: white;
  }
  /*mes alert*/
  .alert-danger{
    color: #f7051c;
    background-color: #f3d2e4f7;
    border-color: #f5c6cb;
    width: 200px;
    margin: auto;
    padding: 0px 4px 0px 4px;
    margin-bottom: 5px;}
/*head */
  .img_rep_tun{
    width:120px; 
    height:60px;}
  #head{background-color: white;}
/*for mobile*/
  @media only screen and (max-width: 425px){
    h1{font-size: 1.5rem;}
    #head{margin-bottom: 5%;}
    .img_rep_tun{
      width:80px; 
      height:30px;}
    small{font-size: 64%}
    #title{font-size: 1.5rem;}
    #under-title{
      padding-bottom: 2%;
      font-size: 1rem;}
    footer{
      padding: 0.5rem;}
    #footer{
      position:inherit; 
      height: auto;
      padding:0.5rem;
      font-size: 0.8rem;
      justify-content: center;
     display: flex;
     margin-top: 3%;
    }
    .form{margin: auto;}
  }
