/* stylelint-disable value-no-vendor-prefix, function-name-case, property-no-vendor-prefix */

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
  padding-top: 1%;padding-bottom: 1%;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}